@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html,
body {
    font-family: 'Ubuntu', sans-serif;
}

.logo {
    font-family: 'Inter', sans-serif;
    letter-spacing: -1.2px;
}

/* link styling */
.login-link {
    text-decoration: none;
    color: #333;
    transition: all 0.2s;
}

.login-link:hover,
.login-link:active,
.login-link:focus {
    color: #fd7e14;
}

/* Navbar Animations */
.navbar-brand {
    transition: all 0.2s;
}

.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
    color: #fd7e14 !important;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color: #fd7e14 !important;
}

.dropdown-menu .dropdown-item {
    transition: all 0.1s;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:focus {
    background-color: #ffa94d !important;
    color: #333;
}



.splash-img {
    width: 100%;
}
/* Button Color */
.btn-color,
.pagination a{
    color: #fd7e14 !important;
    border-color: #fd7e14 !important;
}


/* Pagination */
.btn-color:hover,
.btn-color:active,
.pagination a:hover,
.pagination a:active
{
    background-color: #fd7e14 !important;
    color: #fff4e6 !important;
}